[Unit]
Description= xandminer web Service
After=network.target

[Service]
ExecStart=/usr/bin/npm run start

WorkingDirectory=/root/xandminer
Restart=always
User=root
Group=root
Environment=NODE_ENV=production
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=xandminer

[Install]
WantedBy=multi-user.target
