[Unit]
Description= xandminerd Node.js Service
After=network.target

[Service]
ExecStart=/usr/bin/node /root/xandminerd/src/index.js
WorkingDirectory=/root/xandminerd
Restart=always
User=root
Group=root
Environment=NODE_ENV=production
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=xandminerd

[Install]
WantedBy=multi-user.target
